{% extends "base.html" %}

{% block content %}
<div class="module-detail-container">
    <a href="{% url 'profile' %}" class="primary-button">
        <i class="back-icon fa-sharp fa-arrow-left"></i>Back
    </a>

    <h1 class="module-heading">{{ module.name }}</h1>
    <h2 class="lesson-description">{{ module.description }}</h2>

    <div class="lessons-card-grid">
        {% for lesson in lessons %}
            {% if lesson.lesson_type == 'quiz' %}
                <a href="{% url 'quiz_lesson_detail' lesson.pk %}?module_id={{ module.pk }}" class="lesson-card-link">
            {% else %}
                <a href="{{ lesson.url }}" class="lesson-card-link">
            {% endif %}
                <div class="lesson-card {% if lesson.is_completed %}completed{% endif %}">
                    <h3>{{ lesson.name }}</h3>
                    <p class="lesson-description">{{ lesson.description }}</p>
                    <ul class="lesson-details">
                        <li><strong>Type:</strong> {{ lesson.get_lesson_type_display }}</li>
                        <li><strong>Points:</strong> {{ lesson.points }}</li>
                        <li><strong>Difficulty:</strong> {{ lesson.get_difficulty_display }}</li>
                        <li><strong>Time to Complete:</strong> {{ lesson.time_to_complete }} minutes</li>
                    </ul>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
