{% extends "base.html" %}

{% block content %}
<div class="lesson-detail-container">
    <a href="{{ module_url }}" class="primary-button">
        <i class="back-icon fa-sharp fa-arrow-left"></i>Back
    </a>

    <h1>{{ lesson.name }}</h1>
    <p>{{ lesson.description }}</p>
    <div class="lesson-content">
        {{ lesson.content|linebreaksbr }}
    </div>
    <form method="post">
        {% csrf_token %}
        {% for item in questions %}
            <div class="quiz-question">
                <p>{{ item.question.question_text }}</p>
                {% for answer in item.answers %}
                    <input type="radio" name="question_{{ item.question.pk }}" value="{{ answer }}" required> {{ answer }}<br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="primary-button">Submit Quiz</button>
    </form>
</div>
{% endblock %}
