{% extends "base.html" %}

{% block content %}
<div class="lesson-detail-container">
    <a href="{{ module_url }}" class="primary-button">
        <i class="back-icon fa-sharp fa-arrow-left"></i>Back
    </a>

    <h1>{{ lesson.name }}</h1>
    <p>{{ lesson.description }}</p>
    
    {% if embed_url %}
    <div class="lesson-video">
        <iframe width="560" height="315" src="{{ embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% else %}
    <p>No video is available for this lesson.</p>
    {% endif %}
    
    <div class="lesson-content">
        {{ lesson.content|safe }}
    </div>
</div>
{% endblock %}
