{% extends "base.html" %}

{% block content %}
<div class="path-card-container">
    {% if assigned_paths %}
        <h2 class="section-heading" id="assigned-paths-heading">Assigned Paths</h2>
        <div class="path-card-grid">
            {% for path in assigned_paths %}
                <div class="path-card {% if path.is_completed %}completed{% endif %}" id="card-{{ path.id }}" style="position: relative;">
                    <h3 id="title-{{ path.id }}">{{ path.name }}</h3>
                    {% if path.is_completed %}
                    <i class="fa-sharp fa-light fa-check-circle path-completed-icon"></i>
                    {% endif %}
                    <p>{{ path.description }}</p>
                    <a href="javascript:void(0);" class="primary-button view-modules-button" onclick="toggleModules({{ path.id }});" id="button-{{ path.id }}" style="width: 75%; display: inline-block;">View Modules</a>
                    <div id="modules-{{ path.id }}" class="modules-container" style="display: none; max-height: 550px; overflow-y: auto; position: relative; top: 20px; left: 0; right: 0;">
                        <ul style="margin-top: 50px;">
                            {% for module in path.modules_with_completion_status %}
                            <li>
                                <a href="{% url 'module_detail' module.id %}" 
                                   style="{% if module.is_completed %}color: var(--accent-color-2); text-decoration: none;{% endif %}">
                                   {% if module.is_completed %}
                                   <i class="fa fa-light fa-check-circle" style="color: var(--accent-color-2); margin-right: 8px;"></i>
                                   {% endif %}{{ module.name }}
                                </a>
                                <span class="module-counter">({{ module.completed_lessons }}/{{ module.total_lessons }})</span>
                                <p>
                                    {% if module.description %}
                                        {{ module.description }}
                                    {% else %}
                                        This module does not have a description.
                                    {% endif %}
                                </p>
                            </li>                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="section-heading">No paths assigned.</h3>
    {% endif %}
</div>

<!-- GSAP and JavaScript for toggling and animating the cards -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>

{% endblock %}
