:root {
    --text-color: #e2d0c5;
    --accent-color-1: #ff871b;
    --accent-color-2: #98af83;
    --background-color-main: #282828;
    --background-color-dark: #1c2021;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid var(--text-color);
}

body {
    background-color: var(--background-color-main);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* Container for navbar and main content */
.container-fluid.d-flex {
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Vertical Navbar Styling */
#main-navbar {
    width: 285px;
    max-width: 285px;
    min-width: 285px;
    background-color: var(--background-color-dark);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1rem;
    border-right: 2px solid var(--text-color);
    background-image: url("/static/media/images/Texture9.png");
    background-size: 10px;
    background-position: center;
}

.nav-divider {
    height: 3rem;
}

.navbar-brand {
    font-family: "Orbitron", sans-serif;
    color: var(--accent-color-2);
    font-size: 1.7rem;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}

.navbar-brand .brand-text {
    display: block;
}

.navbar-brand:hover {
    color: var(--accent-color-2);
}

.navbar-nav .nav-item {
    margin-bottom: 1rem;
}

.nav-link {
    font-family: "Comfortaa", monospace;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
}

.fa-solid, .fa-sharp {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 1rem;
}

.back-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.nav-link:hover {
    color: var(--accent-color-1);
}

.logout-icon, .logout-link {
    color: red;
}

.logout-link .logout-icon, 
.logout-link:hover {
    color: red;
}

/* Main Content Area Styling */
.content-area {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    background-color: var(--background-color-main);
    background-image: url(https://cdn.prod.website-files.com/6674f0cdb5b7b401612cf015/6674f0cdb5b7b401612cf065_noise-50.png);
}

.spacer-element {
    display: none;
}

/* Scrollbar Styling for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background-color-main);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-main);
    border-radius: 10px;
    border: 2px solid var(--accent-color-1);
}

/* Additional styles for other elements */
.test-header {
    color: var(--accent-color-2);
}

/* Authentication Form Styling */
.auth-heading {
    text-align: center;
    font-size: 3.5rem;
    font-family: "Chakra Petch", sans-serif;
    color: var(--text-color);
    margin-bottom: 3rem;
    margin-top: 20%;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Chakra Petch", sans-serif;
    border: var(--accent-color-1) solid 3px;
    background-color: var(--background-color-dark);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 150px;
    text-align: center;
}

.auth-logout-container {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Comfortaa", monospace;
    color: grey;
    border: rgb(255, 255, 255) solid 3px;
    background-color: var(--background-color-dark);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 250px;
}

.auth-text {
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
    color: red;
}

.auth-form {
    padding-top: 50px;
    text-align: left;
    color: red;
}

.auth-form-group {
    font-family: "Comfortaa", monospace;
    color: var(--text-color);
    margin-top: 1rem;
}

.auth-button-container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

.auth-link-text {
    text-align: center;
    font-family: "Comfortaa", monospace;
    margin-top: 15px;
}

.auth-link-text a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-link-text a:hover {
    color: var(--accent-color-1);
    text-decoration: none;
}

.primary-button {
    appearance: none;
    background-color: var(--text-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(201, 192, 219, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "Comfortaa", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 2rem;
    align-items: center;
}

.primary-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.primary-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Profile and Path Card Styling */
.profile-heading {
    font-family: "Orbitron", sans-serif;
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.section-heading {
    font-family: "Orbitron", sans-serif;
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.path-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.path-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.path-card {
    background-color: var(--background-color-dark);
    border: rgba(255, 135, 27, 0.8) solid 4px;
    border-radius: 15px;
    padding: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 2rem;
}

.path-card:hover {
    border: rgba(255, 135, 27, 1) solid 4px;
}

.path-card.completed {
    border: rgba(152, 175, 131, 0.8) solid 4px;
}

.path-card.completed:hover {
    border: rgba(152, 175, 131, 1) solid 4px;
}



.path-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--accent-color-1);
}

.path-card.completed h3 {
    color: var(--accent-color-2);
}

.path-completed-icon {
    color: var(--accent-color-2);
    vertical-align: middle;
    font-size: 2rem;
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: 0.75rem;

}

.path-card p {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.path-card a {
    font-family: "Chakra Petch", sans-serif;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.path-card:hover {
    transform: none;
    box-shadow: none;
}

/* Module Display Animations */
.modules-container {
    margin-top: -2rem;
    max-height: 1000px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
    text-align: left;
}

.modules-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Chakra Petch", sans-serif;
}

.modules-container ul li {
    background-color: var(--background-color-dark);
    color: var(--text-color);
    padding: 0.5rem;
}

.modules-container ul li:last-child {
    border-bottom: none;
}

.modules-container ul li a {
    border-bottom: none;
    margin-bottom: 5rem;
    color: var(--accent-color-1);
}

.module-counter{
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1rem;
}

.modules-container ul li p {
    margin-top: 1rem;
}

/* Module Detail Page Styling */
.module-detail-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}

.module-heading {
    color: var(--text-color);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.lessons-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    width: 100%;
    margin: 0 auto;
}

.lesson-card {
    position: relative;
    background-color: var(--background-color-dark);
    border: rgba(255, 135, 27, 0.8) solid 4px;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.lesson-description {
    margin-bottom: 22rem;
    color: var(--text-color);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
}

.lesson-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--accent-color-1);
}

.lesson-card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.lesson-details {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: auto;
}

.lesson-details li {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.lesson-details li strong {
    color: var(--accent-color-1);
}

.lesson-card:hover {
    border: rgba(255, 135, 27, 1) solid 4px;
    cursor: pointer;
}

.lesson-card.completed {
    border: rgba(152, 175, 131, 0.8) solid 4px;
}

.lesson-card.completed:hover {
    border: rgba(152, 175, 131, 1) solid 4px;
}

.lesson-completed-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--accent-color-2);
    font-size: 2rem;
}

.lesson-completed-icon i {
    font-size: 2rem;
}

.lesson-card.completed .lesson-details li strong {
    color: var(--accent-color-2);
}

.lesson-card.completed h3 {
    color: var(--accent-color-2);
}

/* Dashboard Styling */

.dashboard-content-area {
    flex-grow: 1;
    padding: 1rem;
    overflow: hidden;
    background-color: var(--background-color-main);
    background-image: url(https://cdn.prod.website-files.com/6674f0cdb5b7b401612cf015/6674f0cdb5b7b401612cf065_noise-50.png);
    background-size: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: 0;
}

.dashboard-area-1 {
    grid-area: 1 / 1 / 3 / 7;
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-top: 5px solid var(--background-color-dark);
    border-left: 5px solid var(--background-color-dark);
    border-right: 5px solid var(--background-color-dark);
    border-top-left-radius: 60px;
    background-image: url("/static/media/images/Texture3.png");
    background-size: 30px;
    background-position: center;
    box-shadow: rgba(14, 14, 14, 0.6) -5px 0px 35px -3px;
}

.dashboard-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-card {
    background-color: var(--background-color-dark);
    color: var(--accent-color-1);
    font-family: "Chakra Petch", sans-serif;
    font-size: 5.5rem;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    margin: 0 3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 150px;
    width: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.253);
    /* background-image: url("/static/media/images/Texture2.png"); */
    background-size: 200px;
    background-position: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
}

.dashboard-card:nth-child(1),
.dashboard-card:nth-child(2),
.dashboard-card:nth-child(3) {
    transform: translateY(-15px);
}



.card-text-below, .card-text-above {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
}

.card-text-below {
    top: -3.2rem;
}

.card-text-above {
    bottom: -3.8rem;
}

.dashboard-area-2 {
    grid-area: 1 / 7 / 3 / 9;
    background-color: var(--background-color-main);
    padding: 1rem;
    border-top: 5px solid var(--background-color-dark);
    border-right: 5px solid var(--background-color-dark);
    border-top-right-radius: 60px;
    background-image: url("/static/media/images/Texture7.png");
    background-size: 60px;
    background-position: top;
    box-shadow: rgba(14, 14, 14, 0.6) 5px 0px 35px -3px;
}

.dashboard-area-3 { 
    position: relative;
    grid-area: 3 / 1 / 7 / 4;
    background-color: var(--background-color-main);
    padding: 1rem;
    border: 5px solid var(--background-color-dark);
    border-bottom-left-radius: 60px;
    height: 530px;
    background-image: url("/static/media/images/Texture7.png");
    background-size: 60px;
    background-position: center;
    box-shadow: rgba(14, 14, 14, 0.6) -5px 5px 35px -3px;
    cursor: pointer;
}

.dashboard-area-4 {
    grid-area: 3 / 4 / 7 / 9;
    background-color: var(--background-color-dark);
    padding: 1rem;
    border-top: 5px solid var(--background-color-dark);
    border-right: 5px solid var(--background-color-dark);
    border-bottom: 5px solid var(--background-color-dark);
    border-bottom-right-radius: 60px;
    background-image: url("/static/media/images/Texture15.png");
    background-size: 500px;
    background-position: center;
    box-shadow: rgba(14, 14, 14, 0.6) 5px 5px 35px -3px;
    display: flex;
    align-items: center;
}

.vertical-text {
    margin-right: 1rem;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.leaderboard-chart-container {
    flex-grow: 1;
}

.progress-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52.2%, -35%); /* Raising the left number moves the circle left. Raising the right number moves the circle up. */
    border-radius: 50%;
    height: 208px;
    width: 208px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

/* Progress meter uses CSS sourced from the following YouTube video: https://www.youtube.com/watch?v=t7eHSAXW718 */

.percent {
    position: relative;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #fff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    transform: translate(8px)

}

.percent .number h2 span {
    font-size: 3rem;
    color: #fff;
}

svg {
    position: absolute;
    width: 208px;
    height: 208px;
    z-index: 0;
}

circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: rotate(-90deg) translate(4px, 4px);
    transform-origin: 50% 50%;
}

circle:nth-child(2) {
    stroke-dasharray: 565.48;
    stroke-dashoffset: calc(565.48 - (565.48 * var(--percentage)) / 100);
    stroke: #1b76ff;
    transition: stroke-dashoffset 0.5s ease;
}
