:root {
    --text-color: #e2d0c5;
    --accent-color-1: #ff871b;
    --accent-color-2: #98af83;
    --background-color-main: #282828;
    --background-color-dark: #1c2021;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border-top: 1px solid var(--text-color);
}

body {
    background-color: var(--background-color-main);
    background-size: cover;
    scrollbar-color: var(--background-color-dark);
    scrollbar-width: 10px;
    display: flex;
    flex-direction: column;
}

/* Container for navbar and main content */
.container-fluid.d-flex {
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    
}

/* Vertical Navbar Styling */
#main-navbar {
    width: 250px;
    background-color: var(--background-color-dark);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1rem;
    border-right: 1px solid var(--text-color);
}

.navbar-brand {
    font-family: "Comfortaa",monospace;
    color: var(--accent-color-2);
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}

.navbar-brand .brand-text {
    display: block;
}

.navbar-brand:hover {
    color: var(--accent-color-2);
}

.navbar-nav .nav-item {
    margin-bottom: 1rem;
}

.nav-link {
    font-family: "Comfortaa",monospace;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
}

.nav-link:hover {
    color: var(--accent-color-1);
}

/* Main Content Area Styling */
.content-area {
    padding: 2rem;
    overflow-y: auto;
    background-color: var(--background-color-main);
    background-image: url(https://cdn.prod.website-files.com/6674f0cdb5b7b401612cf015/6674f0cdb5b7b401612cf065_noise-50.png);

}

.spacer-element {
    display: none;
}

/* Scrollbar Styling for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background-color-main);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-main);
    border-radius: 10px;
    border: 2px solid var(--accent-color-1);
}

/* Additional styles for other elements */
.test-header {
    color: var(--accent-color-2);
}

/* Authentication Form Styling */
.auth-heading {
    text-align: center;
    font-size: 3.5rem;
    font-family: "Comfortaa",monospace;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Comfortaa";
    border: var(--accent-color-1) solid 3px;
    background-color: var(--background-color-dark);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 150px;
    text-align: center;
}

.auth-logout-container {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Comfortaa",monospace;
    color: grey;
    border: rgb(255, 255, 255) solid 3px;
    background-color: var(--background-color-dark);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 250px;
}

.auth-text {
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
    color: red;
}

.auth-form {
    padding-top: 50px;
    text-align: left;
    color: red;
}

.auth-form-group {
    font-family: "Comfortaa",monospace;
    color: var(--text-color);
    margin-top: 1rem;
}

.auth-button-container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

.auth-link-text {
    text-align: center;
    font-family: "Comfortaa", monospace;
    margin-top: 15px;
}

.auth-link-text a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-link-text a:hover {
    color: var(--accent-color-1);
    text-decoration: none;
}

.primary-button {
    appearance: none;
    background-color: var(--text-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(201, 192, 219, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "Comfortaa",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 2rem;
    align-items: center;
}

.primary-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.primary-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Profile and Path Card Styling */
.profile-heading {
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.section-heading {
    color: var(--text-color);
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.path-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.path-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 path cards per row */
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.path-card {
    background-color: var(--background-color-dark);
    border: var(--accent-color-1) solid 3px;
    border-radius: 15px;
    padding: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "Comfortaa", monospace;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 2rem;
}

.path-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--accent-color-2);
}

.path-card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.path-card a {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.path-card:hover {
    transform: none;
    box-shadow: none;
}

/* Module Display Animations */
.modules-container {
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
}

.modules-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Comfortaa",monospace;
}

.modules-container ul li {
    background-color: var(--background-color-dark);
    color: var (--text-color); 
    padding: 0.5rem;
}

.modules-container ul li:last-child {
    border-bottom: none;
}

.modules-container ul li a {
    border-bottom: none;
    color: var(--text-color);
}

/* Module Detail Page Styling */
.module-detail-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}

.module-heading {
    color: var(--text-color);
    font-size: 2.2rem; 
    text-align: center;
    margin-bottom: 3rem;
}

.lessons-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 lesson cards per row */
    gap: 2.5rem;
    width: 100%;
    margin: 0 auto;
}

.lesson-card {
    background-color: var(--background-color-dark);
    border: rgba(255, 135, 27, 0.8) solid 4px;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    font-family: "Comfortaa", monospace;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
}


.lesson-description {
    margin-bottom: 22rem;
    color: var(--text-color);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
}

.lesson-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--accent-color-2);
}

.lesson-card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.lesson-details {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.lesson-details li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.lesson-details li strong {
    color: var(--accent-color-1);
}

.lesson-card:hover {
    border: rgba(255, 135, 27, 1) solid 4px;
}
