{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block title %}LMS - {% trans "Login" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">


<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <h1 class="auth-heading">Login</h1>
      <div class="auth-container">              
        
        <form class="login auth-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            <div class="auth-form-group">
              {{ form.login }}
            </div>
            
            <div class="auth-form-group">
              {{ form.password }}
            </div>
                      
            <div class="auth-button-container">
              <button class="primaryAction primary-button" type="submit">{% trans "Log In" %}</button>
            </div>
          </form>          
    </div>
  </div>
</div>



{% endblock %}